@model CTUCampus.Models.Student

@{
    ViewBag.Title = "Details per student";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    <h1>Welcome, @Session["Name"]</h1>
</div>
    <div>
        <h4>Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.studentName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.studentName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.studentSurname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.studentSurname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.studentIDNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.studentIDNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.studentAge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.studentAge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.studentContactNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.studentContactNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.studentParentID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.studentParentID)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
