@model IEnumerable<CTUCampus.Models.Student>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="value">
    <div id="Message">@ViewBag.Message</div>
    @Html.ActionLink("Refresh",
            "Message",
            "Student",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Message",
                InsertionMode = InsertionMode.ReplaceWith
            })
</div>
<div>
    <h1>Welcome, @Session["Name"]</h1>
</div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.studentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentIDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentParentID)
            </th>
            <th>
                Student Age in 1 year from now
            </th>
            <th>
                Select any of the following options
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentIDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentParentID)
            </td>
            <td>
                @Html.Partial("DisplayTotalDebt", item)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id=item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StudentID })
            </td>
        </tr>
    }
    
    </table>
<script>
    //$.ajax({
    //    url: "~/Views/Student/DisplayTotalDebt.cshtml",
    //    type: "GET",
    //    datatype: "html"
    //}).done(function (responseText) {
    //    $("#value").html(responseText);
    //})
</script>