@model CTUCampus.Models.Student

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div> 
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Login failed. Chek your login details.")
        <div>
            <fieldset>
                <legend>Login</legend>
                <div>
                    @Html.LabelFor(u => u.studentUserName)
                </div>
                <div>
                    @Html.TextBoxFor(u => u.studentUserName)
                    @Html.ValidationMessageFor(u => u.studentUserName)
                </div>
                <div>
                    @Html.LabelFor(u => u.studentPassword)
                </div>
                <div>
                    @Html.TextBoxFor(u => u.studentPassword)
                    @Html.ValidationMessageFor(u => u.studentPassword)
                </div>
                <input type="submit" value="Log In" />
            </fieldset>
        </div>
    }
</div>
