<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="student, CTU, Campus, CTU Campus, parent" />
    <meta name="description" content="This is a student enrollment application for CTU" />
    <link href="~/Content/css/MVCStudent.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Sign Out", "Logout", "Student")
        }
        else
        {
            @Html.ActionLink("Register", "Create", "Student") <br />
            @Html.ActionLink("Sign In", "Login", "Student")
        }
    </div>
    <div id="accord">
        Menu: @Html.MvcSiteMap().Menu(false, false, true)
        Breadcrumb Trail: @Html.MvcSiteMap().SiteMapPath()
    </div>
    <div>
        @RenderBody() 
    </div>
    @*<script>
        $(function () {
            $("#accord").accordion();
        });
    </script>*@
</body>
</html>
